@model expense_transactions.Models.Bucket

@{
    ViewData["Title"] = "Details";
}

<div class="container my-5">
    <div class="card shadow-sm p-4">
        <h1 class="text-center text-success mb-4">Bucket Details</h1>
        <div>
            <h4 class="text-primary text-center mb-4">Category Information</h4>
            <hr class="mb-4" />
            <dl class="row">
                <dt class="col-sm-4 col-md-3 col-lg-2 text-end">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-8 col-md-9 col-lg-10">
                    @Html.DisplayFor(model => model.Id)
                </dd>

                <dt class="col-sm-4 col-md-3 col-lg-2 text-end">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class="col-sm-8 col-md-9 col-lg-10">
                    @Html.DisplayFor(model => model.Category)
                </dd>

                <dt class="col-sm-4 col-md-3 col-lg-2 text-end">
                    @Html.DisplayNameFor(model => model.Company)
                </dt>
                <dd class="col-sm-8 col-md-9 col-lg-10">
                    @Html.DisplayFor(model => model.Company)
                </dd>
            </dl>
        </div>
        <div class="text-center mt-4">
            <a asp-action="Index" class="btn btn-secondary btn-sm rounded-pill px-5">Back to List</a>
        </div>
    </div>
</div>